<div class="w-full h-20 flex justify-evenly mt-5">
    <div class="flex items-center">
        <img class="h-full object-fill" src="{{ url_for('static', filename='img/logo.png') }}" />
    </div>

    <div class="flex items-center">
        <p class="font-bold text-5xl">칭찬감옥</p>
    </div>

    <div class="flex flex-row items-center">
        <a href="">
            <img class="h-full object-scale-down" src="{{ url_for('static', filename='img/profile.png') }}"/>
        </a>
        <!-- 하드코딩 -->
        <p class="font-normal">하드코딩</p>
         <a href="">
            <img class="h-full object-scale-down" src="{{ url_for('static', filename='img/alarm.png') }}"/>
        </a>
    </div>
</div>