<div class="w-full h-20 flex justify-evenly mt-5">
    <div class="flex items-center">
        <img class="h-full object-fill" src="{{ url_for('static', filename='img/logo.png') }}" />
    </div>

    <div class="flex items-center">
        <p class="font-bold text-5xl">칭찬감옥</p>
    </div>

    <div class="flex flex-row items-center">
        <a href="">
            <img class="h-full object-scale-down" src="{{ url_for('static', filename='img/profile.png') }}"/>
        </a>
            
        
        <!-- 하드코딩 -->
        <p class="font-normal">하드코딩</p>


        <div class="relative inline-block text-left">
            <div class="mt-5 w-full">
                <div class="absolute z-10 ml-10 text-center">
                    <div class="absolute z-11 transform(-50%, -50%) top: 50% left: 50%">100</div>
                    <img class="w-10 h-10 object-fill inline-block" src="{{ url_for('static', filename='img/alarmCountBg.png') }}">
                </div>
                
                <a href="#" onclick="alaramDropDownHandler('visible');">
                    <img class="h-full object-scale-down" src="{{ url_for('static', filename='img/alarm.png') }}"/>
                </a>

                <div id="alaramDropBoxContent" onclick="alaramDropDownHandler('invisible');" class="hidden absolute w-48 bg-white rounded shadow mt-2">
                    <a href="#" onclick="" class="block px-4 py-2 text-gray-800 hover:bg-blue-100">하드코딩</a>
                    <a href="#" onclick="" class="block px-4 py-2 text-gray-800 hover:bg-blue-100">하드코딩</a>
                    <a href="#" onclick="" class="block px-4 py-2 text-gray-800 hover:bg-blue-100">하드코딩</a>
                    <a href="#" onclick="" class="block px-4 py-2 text-gray-800 hover:bg-blue-100">하드코딩</a>
                    <a href="#" onclick="" class="block px-4 py-2 text-gray-800 hover:bg-blue-100">하드코딩</a>
                    <a href="#" onclick="" class="block px-4 py-2 text-gray-800 hover:bg-blue-100">하드코딩</a>
                </div>
            </div>
        </div>
    
    </div>
</div>