<script src="{{ url_for('static', filename='script/rendering.js') }}"></script>

<div id="modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
  <div class="bg-white rounded-lg p-8 max-w-md w-full">
    <img src="">
    <p class="text-gray-700 mb-6">환영합니다!<br>여기선 비난 대신 칭찬이 쌓이고, 따뜻한 말들이 자유롭게 흘러갑니다. 오늘, 누군가의 하루를 환하게 밝혀줄 칭찬 한마디 남겨보는 건
      어때요?</p>
    <span onclick="closeModal()" class="text-blue-600 font-bold cursor-pointer">
      칭찬하러가기
    </span>
  </div>
</div>

<div class=" p-6 w-220">
  <div class="max-w-5xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <input id="searchInput" type="text" placeholder="이름 검색" class="border rounded px-5 py-1" oninput="filterUsers()">
      <div class="flex justify-end"><select id="sortSelect" onchange="sortUsers()" class="border rounded px-2 py-1 ">
          <option value="name">이름순</option>
          <option value="praises">칭찬순</option>
        </select>
      </div>
    </div>

    <div id="profileGrid" class="flex grid grid-cols-3 gap-4 mb-6"></div>
    <div id="pagination" class="flex justify-center items-center gap-1 text-sm text-gray-700"></div>
  </div>

  <script>
    // 더미 데이터 및 초기화 코드 삭제
    // 모든 유저 데이터 및 렌더링 로직은 rendering.js에서 관리
    function openModal() {
      document.getElementById('modal').classList.remove('hidden');
    }

    function closeModal() {
      document.getElementById('modal').classList.add('hidden');
    }

    // 페이지 로딩 시 모달 표시
    window.onload = function () {
      openModal();
    };
  </script>
</div>